.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 65vh; /* Ajusta la altura del contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  scroll-snap-type: x mandatory;
  gap: 10px;
  width: 100%;
  height: 56vh; /* Ajusta la altura del contenedor */
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  scrollbar-width: none; /* Oculta en Firefox */
}

.carousel-item {
  min-width: 700px; /* Tamaño más grande para los contenedores */
  height: 500px; /* Tamaño más grande para los contenedores */
  margin: 0 10px;
  flex-shrink: 0;
  box-sizing: border-box;
  flex: 0 0 auto;
  scroll-snap-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-item:hover {
  transform: scale(1.05);
}

.carousel-image {
  width: 100%;
  height: auto; /* Ajusta la altura automáticamente para mantener las proporciones */
  max-height: 100%; /* Asegura que la imagen no exceda la altura del contenedor */
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
  border-radius: 8px;

}

.carousel-title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .carousel-item {
    min-width: 80%; /* Ajusta el ancho del contenedor para pantallas pequeñas */
    height: 30vh; /* Ajusta la altura del contenedor para pantallas pequeñas */
  }

  .carousel-title {
    font-size: 16px;
  }
}