---
import Footer from '../components/Footer.astro';
import Titulo from '../components/Titulo.astro';
import TopMenu from '../components/TopMenu.astro';
import Layout from '../layouts/Layout.astro';
import CarruselMenu from '../components/CarruselMenu.astro';
---

<Layout>
	<main>
		<TopMenu />
		
		 <!-- Inserta el componente Menu aquí -->
		<!-- Presentación -->
		<div class="h-screen bg-cover bg-[url('/fondo.jpg')]">
			<Titulo titulo="CAFÉ BAR JOSÉ VELA" />
		</div>
		<!-- Quienes somos -->
		<div class="h-screen bg-once">
			<Titulo titulo="QUIÉNES SOMOS" />
		</div>
		<div>
			<CarruselMenu />
		</div>
		<div class="h-screen bg-once">
			<Titulo titulo="Carta" />
		</div>
		
	</main>
	<footer>
		<Footer />
	</footer>
</Layout>
