---
import Carousel from '../components/Carousel.astro';
import Footer from '../components/Footer.astro';
import Titulo from '../components/Titulo.astro';
import TopMenu from '../components/TopMenu.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<TopMenu />
		
		 <!-- Inserta el componente Menu aquí -->
		<!-- Presentación -->
		<div class="h-screen bg-cover bg-[url('/fondo.jpg')]">
			<Titulo titulo="CAFÉ BAR JOSÉ VELA" />
		</div>
		<!-- Quienes somos -->
		<div class="h-screen bg-once">
			<Titulo titulo="QUIÉNES SOMOS" />
		</div>
		<Carousel images={['/about01.jpg', '/about02.jpg']} />
		<Carousel images={['/about03.jpg', '/fondo.jpg', '/about02.jpg']} />
		<div class="h-screen bg-once">
			<Titulo titulo="Carta" />
		</div>
			 <!-- Inserta el componente Menu aquí, si es diferente de Carta -->
		
	</main>
	<footer>
		<Footer />
	</footer>
</Layout>
