---
import FormularioReservas from "../components/FormularioReservas.astro"
import TopMenu from "../components/TopMenu.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <main>
        <TopMenu />
        <div class="pt-30">
            <FormularioReservas />
        </div>
    </main>
</Layout>