<nav class="navbar">
    
    <a
        class="category-link"
        id="category-category"
        href="/entrantes"
    >
        Entrantes
    </a>
    <a
        class="category-link"
        id="category-category"
        href="/carne"
    >
        Carne
    </a>
    <a
        class="category-link"
        id="category-category"
        href="/pescado"
    >
        Pescado
    </a>
    <a
        class="category-link"
        id="category-category"
        href="/molletes"
    >
        Molletes
    </a>
  
  </nav>