---
--- 
<footer class="bg-uno text-white py-4">
    <div class="container mx-auto text-center">
        <p>&copy; {new Date().getFullYear()} José Vela</p>
        <div class="mt-2">
            <a href="/#quienessomos" class="text-gray-400 hover:text-white mx-2">¿Quiénes somos?</a>
            <a href="/#menu" class="text-gray-400 hover:text-white mx-2">Menú</a>
            <a href="/#nosotros" class="text-gray-400 hover:text-white mx-2">Nosotros</a>
            <a href="/#eventos" class="text-gray-400 hover:text-white mx-2">Eventos</a>
            <a href="/#contacto" class="text-gray-400 hover:text-white mx-2">Contacto</a>
            <a href="reservas" class="text-gray-400 hover:text-white mx-2">Reservas</a>
            <a href="https://www.facebook.com/CafeBarPepeVela/?locale=es_ES" class="text-gray-400 hover:text-white mx-2">Facebook</a>
        </div>
    </div>
</footer></div></footer>