---
---
<form id="contact-form" method="post" class="max-w-lg mx-auto p-6">
    <h2 class="text-2xl font-bold mb-6 text-gray-800">Contacto</h2>
    <div class="mb-4">
        <label for="name" class="block text-gray-700 font-bold mb-2">Nombre</label>
        <input type="text" id="name" name="name" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-uno" required>
    </div>
    <div class="mb-4">
        <label for="phone" class="block text-gray-700 font-bold mb-2">Teléfono</label>
        <input type="tel" id="phone" name="phone" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-uno" required>
    </div>
    <div class="mb-4">
        <label for="email" class="block text-gray-700 font-bold mb-2">Email</label>
        <input type="email" id="email" name="email" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-uno" required>
    </div>
    <div class="mb-4">
        <label for="query" class="block text-gray-700 font-bold mb-2">Consulta</label>
        <textarea id="query" name="query" rows="4" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-uno" required></textarea>
    </div>
    <div class="text-center">
        <button type="submit" class="px-6 py-2 cursor-pointer bg-cinco text-white font-bold rounded-lg hover:bg-dos focus:outline-none focus:ring-2 focus:ring-uno">Enviar</button>
    </div>
    <p id="form-status" class="text-center mt-4"></p>
</form>
<script>
    // Form submission handler
    const contactForm = document.getElementById('contact-form');
    if (contactForm) {
        contactForm.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevent the default form submission
            const form = event.target;
            const formData = new FormData(form as HTMLFormElement);

            // Send the form data to the server-side API (your Node.js endpoint)
            const response = await fetch('/api/enviar-email', {
                method: 'POST',
                body: formData,
            });

            const statusElement = document.getElementById('form-status');

            if (statusElement) {
                if (response.ok) {
                    statusElement.textContent = 'Tu consulta ha sido enviada correctamente. Nos pondremos en contacto contigo lo antes posible. ¡Gracias!';
                    statusElement.style.color = 'green';
                } else {
                    statusElement.textContent = 'Se ha producido un error al enviar tu consulta.';
                    statusElement.style.color = 'red';
                }
            }
        });
    }
  </script>