<div class="relative w-full pb-[75%] sm:pb-0 overflow-hidden max-w-[600px] max-h-[600px] mx-auto">
<iframe class="absolute top-0 left-0 w-full h-[100%]" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3148.5369765576443!2d-4.782933123582898!3d37.89450970525289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6cdf6fce9b7f55%3A0xabf7725410ce83e3!2zQ2Fmw6kgQmFyIEpvc8OpIFZlbGE!5e0!3m2!1ses!2ses!4v1741247989134!5m2!1ses!2ses" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>