---
const categories = ['Entrantes', 'Carnes', 'Pescado', 'Molletes', 'Postres', 'Alérgenos'];
import '../styles/NavBar.css'; // Asegúrate de que la ruta sea correcta
---

<nav class="navbar">
  <button class="menu-toggle" aria-label="Toggle menu">
    ☰
  </button>
  <ul class="categories">
    {categories.map(category => (
      <li id={category} class="category">
        <a href={`#${category.toLowerCase()}`} class="category-link">{category}</a>
      </li>
    ))}
  </ul>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuToggle = document.querySelector('.menu-toggle');
    const categories = document.querySelector('.categories');

    if (menuToggle) {
      menuToggle.addEventListener('click', () => {
        if (categories) {
          categories.classList.toggle('open');
        }
      });
    }
  });
</script>