<nav class="flex justify-between items-center px-24 py-8 w-full fixed top-0 left-0 right-0 bg-uno opacity-75 z-1">
    <ul class="flex gap-x-8 z-1">
        <li><a href="/#quienessomos" class="text-white font-bold z-1">Quienes Somos</a></li>
        <li><a href="/#menu" class="text-white font-bold z-1">Menú</a></li>
        <li><a href="/#nosotros" class="text-white font-bold z-1">Nosotros</a></li>
    </ul>
    <div class="absolute left-1/2 transform -translate-x-1/2 text-white font-bold text-3xl z-1"><a href="/">José Vela</a></div>
    <ul class="flex gap-x-8">
        <li><a href="reservas" class="text-white font-bold z-1">Reservas</a></li>
        <li><a href="/#eventos" class="text-white font-bold z-1">Eventos</a></li>
        <li><a href="/#contacto" class="text-white font-bold z-1">Contacto</a></li>
    </ul>
</nav>