<nav class="flex justify-between items-center px-24 py-8 w-full fixed top-0 left-0 right-0 bg-uno opacity-75">
    <ul class="flex gap-x-8">
        <li><a href="#" class="text-white font-bold">Menú</a></li>
        <li><a href="#" class="text-white font-bold">Nosotros</a></li>
    </ul>
    <div class="absolute left-1/2 transform -translate-x-1/2 text-white font-bold text-3xl">José Vela</div>
    <ul class="flex gap-x-8">
        <li><a href="#" class="text-white font-bold">Eventos</a></li>
        <li><a href="#" class="text-white font-bold">Contacto</a></li>
    </ul>
</nav>